.datesonepage .tophalf>h1 {
  font-size: 60pt;
  font-family: "National Park";
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 0px;
    margin-top: 0px;
  margin-top: -5pt;
  padding: 0px;
  color: var(--purple);
  line-height: 57pt;
}

.datesonepage .tophalf>h1::before {
  font-size: 7pt;
  font-family: "ProFontWindows";
  content: "<h1>";
  color: var(--green);
  position: absolute;
  top: -15pt;
  left: 23pt;
  font-weight: normal;
}

.datesonepage .tophalf>h1::after {
  font-size: 7pt;
  font-family: "ProFontWindows";
  content: "</h1>";
  color: var(--green);
  position: absolute;
  top: 89.5pt;
  left: 291pt;
  font-weight: normal;
}

.datesonepage p {
  font-family: "Brukt";
  font-size: 8pt;
  width: 47%;
  transform: rotate(270deg);
  color: var(--purple);
  position: absolute;
}

.datesonepage .tophalf>p:first-of-type {
bottom: -74%;  left: 249pt;
}

.datesonepage .tophalf>p:nth-of-type(2) {
  text-align: right;
  top: 91px;
  left: 249pt;
}

.datesonepage .tophalf>.image {
  width: 106%;
  height: 182%;
  position: absolute;
  top: 76px;
  left: -2.5%;
}

.datesonepage .tophalf>.blocbleu {
  width: 106%;
  height: 200%;
  position: absolute;
  top: 0;
  left: -2.5%;
  background-color: var(--aqua);
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image::after,.blocbleu::after {
  box-shadow: 0 0px 41px 49px white inset;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /*temp for preview
  background-color: var(--aqua);
  mix-blend-mode: lighten;
  temp for preview*/
}

.image::before {
  font-size: 7pt;
  font-family: "ProFontWindows";
  content: "<img>";
  color: var(--green);
  position: absolute;
  top: 114pt;
  left: 144pt;
  z-index: 3;
}

.contenuonepage .tophalf>h2 {
  top: 0px;
  font-size: 24pt;
  font-family: "National Park";
  line-height: 23pt;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--purple);
}

.contenuonepage .tophalf>h2::before {
  font-size: 7pt;
  /*right: -21px;*/
  animation: testanim 1303ms steps(51, end) infinite;
  animation-play-state: running;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h2>";
  color: var(--green);
  position: absolute;
  top: -9.5pt;
  font-weight: normal;
}

.contenuonepage .tophalf>h2::after {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h2>";
  color: var(--green);
  position: absolute;
  top: 78.5pt;
  /*right: -21px;*/
  animation: testanim 777ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
}

.contenuonepage .tophalf>h4 {
  position: absolute;
  width: 79%;
  font-size: 11.25pt;
  line-height: 0.97;
  font-family: "Brukt";
  font-weight: normal;
  color: var(--aqua);
  bottom: -9pt;
}

.contenuonepage .tophalf>h4::before {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h4>";
  color: var(--green);
  position: absolute;
  top: -2.25pt;
  animation: wider 1800ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
}

.contenuonepage .tophalf>h4::after {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h4>";
  color: var(--green);
  position: absolute;
  top: 66.5pt;
  animation: wider 762ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
}

.contenuonepage .tophalf>h3::before {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h3>";
  color: var(--green);
  position: absolute;
  top: 95.5pt;
  animation: testanim 650ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
}

.contenuonepage .tophalf>h3::after {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h3>";
  color: var(--green);
  position: absolute;
  top: 116.25pt;
  animation: testanim 825ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
}

.contenuonepage .tophalf>p {
  font-size: 8pt;
  font-family: "Apfel";
  color: var(--purple);
  line-height: 0.93;
  width: 41%;
  margin-top: 9pt;
  margin-left: 0mm;
}

.contenuonepage .tophalf>p::before {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<p>";
  color: var(--green);
  position: absolute;
  top: 121.25pt;
  animation: testanim 1432ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
  font-weight: normal;
}

.contenuonepage .tophalf>p::after {
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</p>";
  color: var(--green);
  position: absolute;
  top: 169.5pt;
  animation: testanim 32ms steps(51, end) infinite;
  animation-play-state: running;
  font-weight: normal;
  font-weight: normal;
}

.contenuonepage .tophalf>h3 {
  color: var(--aqua);
  font-size: 20pt;
  font-family: "National Park Outline";font-weight: normal;
  text-decoration: underline;
  margin-bottom: 0px;
  margin-top: 97pt;
}
.portrait img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contenuonepage .portrait::after {
  box-shadow: 0 0 11px 7px white inset;
  width: 100%;
  content: '';
  /*temp for preview*/
/*  background-color: ;
  mix-blend-mode: lighten;
  /*temp for preview*/
  display: block;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.contenuonepage .tophalf .portrait {
  width: 21%;
  height: 17.5%;
  position: absolute;
  animation: portraitmove 900ms steps(1000, end) infinite;
    animation-play-state: running;
}

.contenuonepage>.tophalf{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 181mm;
    /*border: solid 1px black;*/
}

.parasols >h2:first-child{
  top: 0px;
      font-size: 21pt;
      font-family: "National Park";
      line-height: 23pt;
      margin: -1px;
      margin-top: -7px;
      text-align: left;
      text-transform: uppercase;
      color: var(--purple);
}
.parasols >h2{
  top: 0px;
      font-size: 21pt;
      font-family: "National Park";
      line-height: 23pt;
      margin: -1px;
      margin-top: 0px;
      text-align: left;
      text-transform: uppercase;
      color: var(--purple);
}
.parasols> h4{
  font-size: 10.25pt;
    line-height: 0.89;
    font-family: "Brukt";
    font-weight: normal;
    color: var(--aqua);
    width: 77%;
    margin-top: 10px;
}

.parasols >h3{
  font-family: "Apfel";
      color: var(--purple);
      font-size: 9.25pt;
      line-height: 0.97;
      font-weight: normal;
      margin: 0px;
      margin-top: 5.25pt;
      width: 61%;
}

.parasols >h4 > i{
  font-family: "Outline";      color: var(--purple);
font-style: normal;
}
