:root{
  --green: transparent;
  --purple: #36255b; /*#36255b;*/
  --aqua: #ff6ce3; /*#ff6ce3*/
}
.image, .portrait{
  mix-blend-mode: multiply;
  /*display: none;/* sauf pour aqua*/
}

.logo{
  /*display: none;/* sauf pour aqua*/
}

.logos{
  /*display: none;/* sauf pour purple*/
}


@font-face {
  font-family: "National";
  font-weight: normal;
  src: url("NationalPark-Regular.otf") format("opentype");
}
@font-face {
  font-family: "National";
  font-weight: bold;
  src: url("NationalPark-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Outline";
  font-weight: bold;
  src: url("NationalPark-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Apfel";
  src: url("ApfelGrotezk-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Brukt";
  src: url("ApfelGrotezk-Brukt.otf") format("opentype");
}
@font-face {
  font-family: "ProFont";
  font-weight: normal;
  src: url("ProFontWindows.ttf") format("truetype");
}

@page {
  size: 130mm 195mm;
  margin: 7mm;
  bleed: 3mm;  marks: crop
}
@page dates{
  size: 130mm 195mm;
  margin: 7mm;  bleed: 3mm;  marks: crop

}

@page contenu{
  size: 130mm 195mm;
  margin: 7mm;  bleed:0mm;  marks: crop

}
@page annuaire{
  size: 130mm 195mm;
  margin: 7mm;  bleed: 3mm;  marks: crop

}
@page edito{
  size: 130mm 195mm;
  margin: 7mm;  bleed: 3mm;  marks: crop

}
section{
  page-break-after: always;
}

.split{
  position: fixed;
  top: calc(195mm/2);
  left: -2.5%;
  width: 105%;
  height: 1pt;
  border: solid 1pt transparent;
  z-index: 1;
}

.tophalf{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: calc(181mm/2);
  /*border: solid 1px black;*/
}

.bottomhalf{
  position: absolute;
  top:calc(181mm/2);
  left:0px;
  width: 100%;
  height: calc(181mm/2);
  /*border: solid 1px black;*/
}
.dates{
  page: dates;
}
.contenu{
  page: contenu;
}
.annuaire{
  page: annuaire;
}
.edito{
  page: edito;
}

img{
  filter:grayscale(1);
}
