.annuaire > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: -4pt;
  padding: 0px;
  color: var(--aqua);
  line-height: 50pt;
}

.annuaire details[open] > p{
  font-family: "Brukt";
  font-size: 8pt;
  line-height: 1;
  color: var(--aqua);
  margin-bottom: 0pt;
  margin-top: 1.55pt;
  font-weight: normal;
}

.annuaire details[open] > summary{
  list-style: none;
  font-family: "Apfel";
  font-size: 9pt;
  line-height: 1;
  color: var(--purple);
  text-decoration: underline;
}
.annuaire details[open]{
margin-bottom: 5.95pt;}
.annuaire details[open]:first-of-type{
  margin-top: 57pt;
}
.annuaire .unsplit,.datesonepage .unsplit, .contenuonepage .unsplit, .edito .unsplit{
  position: absolute;
  top: calc(181mm/2);
  left: -10%;
  width: 200%;
  height: 1pt;
  border: solid 1pt var(--unsplit);
  z-index: 1;
}

.annuaire .col1{
  position: absolute;
  left:0px;
  width: 50%;
  height: 100%;
  top: 14mm;
}

.annuaire .col2{
  position: absolute;
  right:0px;
  top: 14mm;
  width: 50%;
  height: 100%;
}
