.edito > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: left;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: -2pt;
  padding: 0px;
  margin-bottom: 3pt;
  color: var(--purple);
  line-height: 50pt;
}

.edito > h2{
  position: relative;
      font-size: 21.5pt;
      font-family: "Outline";
      line-height: 21pt;
      margin: 0px;
      color: var(--purple);
      text-align: left;
}

.edito > p{
  font-size: 11.25pt;
  line-height: 0.89;
  font-family: "Brukt";
  font-weight: normal;
  color: var(--aqua);
  width: 77%;
  margin-top: 20px;

}

#blocrose{
  width: 95%;
  height: 78%;
  position: absolute;
  top: 144px;
  left: 2.5%;
  background-color: var(--aqua);
}

#blocrose::after{
  box-shadow: 0 0px 40px 62px white inset;
      content:'';
      display: block;height: 100%;position: absolute;
      top:0px;      left: 0px;
      width: 100%;
      /*temp for preview
      background-color: ;
      mix-blend-mode: lighten;
      temp for preview*/outline: 10px solid white;
      outline-offset: -6px;
      -webkit-filter: opacity(1);
}
