.colophon > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: right;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: -3pt;
  padding: 0px;
  color: var(--purple);
  line-height: 50pt;
}

.colophon>h3 {
  width: 89%;
      font-size: 11.5pt;
      line-height: 0.97;
      font-family: "Brukt";
      font-weight: normal;
      color: var(--aqua);
      margin-left: 42pt;
      margin-bottom: 0px;
      text-align: center;
}

.colophon p{
  font-family: "Apfel";
      color: var(--purple);
      font-size: 11.25pt;
      line-height: 0.97;
      font-weight: normal;
      margin: 0px;
      margin-left: 1.62cm;
      margin-top: 11.25pt;
      text-indent: 0mm;
}

.colophon p::first-line{
  font-family: "Brukt";
  color: var(--aqua);
  font-size: 11.5pt;
  line-height: 0.97;
  font-weight: normal;
  margin:0px;

}

.colophon .colofonte{
  margin-left: 124pt;
}

.colophon .lockbottom{
  position: absolute;
  bottom: 0px;
  left:0px;
}

#oim{
  margin-left: 5.5pt;
}

#papier{
  margin-left: 85.5pt;

}

#quintal{
  margin-left: 62pt;

}

#kdecom{
  margin-left: 82.5pt;

}
