.edito > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: left;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: -2pt;
  padding: 0px;
  margin-bottom: 3pt;
  color: var(--purple);
  line-height: 50pt;
}

.edito > h2{
  position: relative;
      font-size: 21.5pt;
      font-family: "Outline";
      line-height: 21pt;
      margin: 0px;
      color: var(--purple);
      text-align: left;
}

.edito > p{
  font-size: 11.25pt;
  line-height: 0.89;
  font-family: "Brukt";
  font-weight: normal;
  color: var(--aqua);
  width: 77%;
  margin-top: 20px;

}
