.dates .tophalf > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: -3pt;
  padding: 0px;
  color: var(--purple);
  line-height: 50pt;
}
.dates .tophalf > h1::before{display:none;
  font-size: 7pt;
  font-family: "ProFontWindows";
  content:"<h1>";
  color: transparent;
  position: absolute;
  top:-15pt;
  left: 23pt;

  font-weight: normal;

}


.dates .tophalf > h1::after{display:none;
  font-size: 7pt;
      font-family: "ProFontWindows";
      content: "</h1>";
      color: transparent;
      position: absolute;
      top: 70.5pt;
      left: 291pt;
      font-weight: normal;
  }

.dates .bottomhalf > h1{
  font-size: 60pt;
  font-family: "National Park";
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 0px;
  margin-top: 152pt;
  padding: 0px;
  color: var(--purple);
  line-height: 50pt;
}
.dates .bottomhalf > h1::before{display:none;
  font-size: 7pt;
  font-family: "ProFontWindows";
  content:"<h1>";
  color: var(--purple);
  position: absolute;
  top:-15pt;
  left: 23pt;
  font-weight: normal;

}
.dates .bottomhalf > h1::after{display:none;
  font-size: 7pt;
      font-family: "ProFontWindows";
      content: "</h1>";
      color: var(--purple);
      position: absolute;
      top: 70.5pt;
      left: 291pt;
      font-weight: normal;
  }

.dates p{
  font-family: "Brukt";
  font-size: 8pt;
  width: 47%;
  transform: rotate(270deg);
  color: var(--purple);
  position: absolute;
}
.dates .tophalf > p:first-of-type{
top: 141pt;
  left: 249pt;
}
.dates .tophalf > p:nth-of-type(2){
  text-align: right;
    top: 91px;  left: 249pt;
}
.dates .bottomhalf > p:first-of-type{
  top: 162pt;
  left: 249pt;
}
.dates .bottomhalf > p:nth-of-type(2){
  text-align: right;
    top: 126px;  left: 249pt;

}

.dates .tophalf > .image{
  width: 95%;
  height: 95%;
      position: absolute;
      top: 0px;
      left: 2.5%;
}
.dates .bottomhalf > .image{
  width: 95%;
  height: 95%;
      position: absolute;
      top: 20px;
      left: 2.5%;
}
.dates .tophalf > .blocbleu{
  width: 95%;
  height: 95%;
      position: absolute;
      top: 0px;
      left: 2.5%;      background-color: var(--aqua);

}
.dates .bottomhalf > .blocbleu{
  width: 95%;
  height: 95%;
      position: absolute;
      top: 20px;
      left: 2.5%;      background-color: var(--aqua);

}
.image img{
  object-fit: cover;
  width: 100%;  height: 100%;

}.blocbleu::after{
  box-shadow: 0 0px 40px 62px white inset;
      content:'';
      display: block;height: 100%;position: absolute;
      top:0px;      left: 0px;
      width: 100%;
      /*temp for preview
      background-color: ;
      mix-blend-mode: lighten;
      temp for preview*/outline: 10px solid white;
      outline-offset: -6px;
      -webkit-filter: opacity(1);
}
.image::after{
  box-shadow: 0 0px 40px 62px white inset;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      outline: 10px solid white;
      outline-offset: -6px;
      -webkit-filter: opacity(1);
}

.image::before{display:none;
  font-size: 7pt;
      font-family: "ProFontWindows";
      content: "<img>";
      color: var(--purple);
      position: absolute;
      top: 114pt;
      left: 144pt;
      z-index: 3;
}
