.couv h1,.couv h2,.couv h3,.couv h4{
  transform:rotate(270deg);
  margin:0px;
}


.couv h4{  white-space: pre;
    font-family: "Apfel";
    font-size: 21.5pt;
    font-weight: normal;
    position: absolute;
    top: 47.65%;
    left: -36%;
    color: var(--aqua);
    letter-spacing: 0.385px;
}

.couv h4 > i{font-style: normal;
  font-family: "Brukt";
}

.couv h1{
  font-family: "National";
  color: var(--purple);
  position: absolute;
  top: 56.5%;
  left: 14.5%;
  font-size: 57pt;
  line-height: 55pt;
}
.couv .deuxvingtdeux{
  top: 7%;
  left: 54.75%;
}

.couv h2{
  font-family: "Outline";
  color: var(--purple);
  position: absolute;
  font-size: 24.45pt;
      font-weight: normal;
      top: 45%;
      left: 4.5%;
      width: 163%;
}

.couv h3{
  position: absolute;
  font-size: 25.5pt;
  font-family: "National";
  color: var(--aqua);
  top: 44.5%;
      left: 15%;
      width: 163%;
}
