#rigot::after{
font-size: 7pt;
text-transform: lowercase;
font-family: "ProFontWindows";
content: "</h4>";
color: var(--green);
position: absolute;
top: 61pt!important;
animation: wider 1250ms steps(51,end) infinite;
  animation-play-state: running;
font-weight: normal;
}
