:root{
  --pink: rgb(255, 0, 183); /*rgb(255, 0, 183)*/
  --purple: purple; /*purple;*/
  --cyan: rgb(0, 187, 223); /*rgb(0, 187, 223);*/
}

@font-face {
  font-family: "National";
  font-weight: normal;
  src: url("NationalPark-Regular.otf") format("opentype");
}
@font-face {
  font-family: "National";
  font-weight: bold;
  src: url("NationalPark-Heavy.otf") format("otf");
}
@font-face {
  font-family: "Apfel";
  src: url("ApfelGrotezk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Brukt";
  src: url("ApfelGrotezk-Brukt.woff") format("woff");
}

@page {
  size: 113mm 200mm;
  margin: 7mm;
}

@page:left{
  margin-right: 15mm;
}
@page:right{
  margin-left: 15mm;
}
section{
  page-break-after: always;
}

h3{
  text-align: center;
  color: var(--pink);
  font-size: 24pt;
  font-family: "National Park";
  margin: 0px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23pt;
 }
h4{
  margin: 0px;

  color: var(--purple);
  font-size: 20pt;
  display: inline-block;
  font-weight: normal;
  margin-top: 11pt;
}

.bio{
  margin: 0px;
  color: var(--cyan);
  font-family: "Apfel";
  font-size: 7pt;
  line-height: 7pt;
  text-align: left;
  position: absolute;
  left: calc(91mm/2);
  width: 24mm;
  margin-top:6mm;
}

.txt{
  margin: 0px;
  color: var(--pink);
  font-family: "Apfel";
  font-size: 11pt;
  line-height: 11pt;
  text-align: center;
  margin-top:42mm;
}

.name{
  font-weight: bold;

  text-decoration: underline;
  font-family: serif;
  font-family: "National Park";
  text-align: left;
}

.hour{
  text-align: right;
  font-family: "Brukt";
  position: absolute;
  right:0px;
}

.top{
  position: absolute;
  top:0px;
}

.bot{
  position: absolute;
  width: 91mm;
  height: auto;
  padding-top:8.2pt;
  top: calc(186mm/2);
  border-top: solid 2px var(--purple);
}
