.contenu .tophalf>h2 {
  top: 0px;
  font-size: 24pt;
  font-family: "National Park";
  line-height: 23pt;
  margin: 0px;
  text-transform: uppercase;
  position: absolute;
  color: var(--purple);
}

.dates .bottomhalf>h2 {
  top: 9.5pt;
  font-size: 24pt;
  font-family: "National Park";
  line-height: 23pt;
  margin: 0px;
  text-transform: uppercase;
  position: absolute;
  color: var(--purple);
}

.contenu .tophalf>h2::before{display:none;
  font-size: 7pt;
  /*right: -21px;*/
  animation: testanim 1303ms steps(51, end) infinite;
    animation-play-state: paused;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h2>";
  color: var(--purple);
  position: absolute;
  top: -9.5pt;
  font-weight: normal;
}
@keyframes testanim {
  0%{
    right: 0%;
  }
  50%{
    right: 100%;
  }
  100%{
    right: 0%;
  }
}
@keyframes wider {
  0%{
    right: -28%;
  }
  50%{
    right: 100%;
  }
  100%{
    right: -28%;
  }
}

@keyframes portraitmove {
0%{
  left: 6%;
  top: 2%;
}
50%{
  left: 70%;
  top: 25%;
}
100%{
  left: 6%;
  top: 2%;
}
}
.contenu .tophalf>h2::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h2>";
  color: var(--purple);
  position: absolute;
  top: 78.5pt;
  /*right: -21px;*/
  animation: testanim 777ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.dates .bottomhalf>h2::before{display:none;
  font-size: 7pt;
  animation: testanim 1100ms steps(51, end) infinite;
    animation-play-state: paused;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h2>";
  color: var(--purple);
  position: absolute;
  top: -9.5pt;
  font-weight: normal;
}

.dates .bottomhalf>h2::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h2>";
  color: var(--purple);
  position: absolute;
  top: 64.5pt;
  animation: testanim 820ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.contenu .tophalf>.titrebis::before, .dates .bottomhalf>.titrebis::before {
  content: "";
}

.contenu .tophalf>.titrebis::after, .dates .bottomhalf>.titrebis::after {
  content: "";
}

.contenu .tophalf>.titrebis {
  top: 70.5pt;
  font-size: 11pt;
  font-family: "National Park";
  line-height: 11pt;
  margin: 0px;
  text-transform: uppercase;
  position: absolute;
  color: var(--purple);
}
.dates .bottomhalf>.titrebis {
  top: 77.5pt;
  font-size: 11pt;
  font-family: "National Park";
  line-height: 11pt;
  margin: 0px;
  text-transform: uppercase;
  position: absolute;
  color: var(--purple);
}

.contenu h2>i {
  font-family: "Brukt";
  font-style: normal;
}

.contenu h2>bdo {
  line-height: 30pt;
  font-size: 10pt;
  text-align: center;
}

.contenu .tophalf>h4 {
  position: absolute;
  width: 79%;
  font-size: 11.25pt;
  line-height: 0.97;
  font-family: "Brukt";
  font-weight: normal;
  color: var(--aqua);
bottom: -9pt;}

.contenu .tophalf>h4::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h4>";
  color: var(--purple);
  position: absolute;
  top: -2.25pt;
  animation: wider 1800ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.contenu .tophalf>h4::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h4>";
  color: var(--purple);
  position: absolute;
  top: 66.5pt;
  animation: wider 762ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.dates .bottomhalf>h4::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h4>";
  color: var(--purple);
  position: absolute;
  top: -6.5pt;
  animation: wider 10ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.dates .bottomhalf>h4::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h4>";
  color: var(--purple);
  position: absolute;
  top: 80pt;
  animation: wider 1250ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;
}

.contenu .tophalf>h3::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h3>";
  color: var(--purple);
  position: absolute;
  top: 95.5pt;
  animation: testanim 650ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.contenu .tophalf>h3::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h3>";
  color: var(--purple);
  position: absolute;
  top: 116.25pt;
  animation: testanim 825ms steps(51, end) infinite;
    animation-play-state: paused;
  font-weight: normal;
}

.dates .bottomhalf>h3::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<h3>";
  color: var(--purple);
  position: absolute;
  top: 101.5pt;
  animation: testanim 502ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;
}

.dates .bottomhalf>h3::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</h3>";
  color: var(--purple);
  position: absolute;
  top: 119.5pt;
  animation: testanim 712ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;  font-weight: normal;
}

.contenu .tophalf>p {
  font-size: 8pt;
      font-family: "Apfel";
      color: var(--purple);
      line-height: 0.93;
      width: 45%;
      position: absolute;
      top: 130.5pt;
      margin-top: 0px;
      margin-left: 0mm;
}

.contenu .tophalf>p::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<p>";
  color: var(--purple);
  position: absolute;
  top: 121.25pt;
  animation: testanim 1432ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;
  font-weight: normal;
}

.contenu .tophalf>p::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</p>";
  color: var(--purple);
  position: absolute;
  top: 169.5pt;
  animation: testanim 32ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;  font-weight: normal;
}

.dates .bottomhalf>p::before{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "<p>";
  color: var(--purple);
  position: absolute;
  top: 129pt;
  animation: testanim 732ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;
  font-weight: normal;
}

.dates .bottomhalf>p::after{display:none;
  font-size: 7pt;
  text-transform: lowercase;
  font-family: "ProFontWindows";
  content: "</p>";
  color: var(--purple);
  position: absolute;
  top: 164.25pt;
  animation: testanim 300ms steps(51, end) infinite;
    animation-play-state: paused;  font-weight: normal;  font-weight: normal;
}

.contenu .tophalf>h3 {
  color: var(--aqua);
  font-size: 20pt;
  font-family: "Outline";
  text-decoration: underline;
  position: absolute;
  margin-bottom: 0px;
  margin-top: 0px;
  top: 97pt;
  font-weight: normal;
}

.dates .bottomhalf>h4 {
  position: absolute;
  width: 79%;
  font-size: 11.25pt;
  line-height: 0.97;
  font-family: "Brukt";
  font-weight: normal;
  color: var(--aqua);
  bottom: 0pt;margin-bottom: 0px;
}

.dates .bottomhalf>p, #paragraphespe {
  font-size: 8pt;
  font-family: "Apfel";
  color: var(--purple);
  line-height: 0.93;
  width: 45%;
  margin-top: 9pt;
  margin-left: 0mm;
  transform: rotate(0deg);
}

.dates .bottomhalf>h3 {
  color: var(--aqua);
  font-size: 20pt;
  font-family: "Outline";
  text-decoration: underline;
  margin-bottom: 0px;
  margin-top: 103pt;font-weight: normal;

}

.contenu .tophalf .portrait {
  width: 21%;
  height: 35%;
  position: absolute;
  animation: portraitmove 900ms steps(1000, end) infinite;
    animation-play-state: running;
}
.dates .bottomhalf .portrait {
  width: 21%;
  height: 35%;
  position: absolute;
  animation: portraitmove 1200ms steps(1000, end) infinite;
    animation-play-state: running;
}
.portrait img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dates .portrait::after {
  box-shadow: 0 0 11px 19px white inset;
  outline: 12px solid white;
  outline-offset: -7px;
  -webkit-filter: opacity(1);
  width: 100%;
  content: '';
background-color: var(--aqua);
  mix-blend-mode: lighten;
  display: block;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.portrait::before{display:none;
  font-size: 7pt;
  font-family: "ProFontWindows";
  content: "<img>";
  color: var(--purple);
  position: absolute;
  top: 41pt;
  left: 26pt;
  z-index: 3;
}

figure{
  width: 100%;
  height: 100%;
  margin: 0px;
}
figcaption{
  font-size: 6pt;
  font-family: "ProFontWindows";
  color: var(--purple);
}

.contenu .bottomhalf > .event{
  font-size: 60pt;
line-height: 0.8;
text-align: center;
color: var(--purple);
top: 34%;
}

pre{
  transform: rotate(-90deg);
      font-size: 5.5pt;
      width: 170%;
      position: absolute;
      z-index: 2;
      bottom: 52%;
      left: -82%;
      font-family: "ProFont";
      color: var(--purple);
      white-space: break-spaces;
}

.contenu pre{
  transform: rotate(-90deg);
font-size: 5.5pt;
width: 160%;
position: absolute;
z-index: 2;
bottom: 50%;
left: 7%;
font-family: "ProFont";
color: var(--purple);
white-space: break-spaces;
line-height: 0.9;
}

.edito pre{
  transform: rotate(-90deg);
  font-size: 5.5pt;
  width: 156%;
  position: absolute;
  z-index: 2;
  bottom: 44%;
  left: 15%;
  font-family: "ProFont";
  color: var(--purple);
  white-space: break-spaces;
  line-height: 0.9;
}

.dates pre{
  width: 158%;
position: absolute;
z-index: 2;
bottom: 48%;
left: -76%;

}
#prepara{
  transform: rotate(-90deg);
    font-size: 5.5pt;
    width: 158%;
    position: absolute;
    z-index: 2;
    bottom: 42%;
      left: 11%;
    font-family: "ProFont";
    color: var(--purple);
    white-space: break-spaces;
    line-height: 0.9;
}

.report{  top: 82.5pt;
font-size: 38pt;
font-family: "National Park";
line-height: 38pt;
margin: 0px;
text-transform: uppercase;
position: absolute;
color: var(--aqua);
font-weight: bold;
transform: rotate(-36deg);
text-align: center;
left: -56pt;
-webkit-text-stroke-width: 2px;
}

.dates .bottomhalf > .annexe{
  color: var(--purple);
width: 37%;
text-align: center;
font-size: 11.25pt;
font-family: "National Park";
left: 41%;
outline: 1.5pt solid var(--purple);
padding: 6px 14px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
bottom: 63%;
border-radius: 51%;
}
